# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Frontend & Node
node_modules/
.next/
out/
build/

